<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KBPreserveFormattingPreservesAlignment</key>
	<true/>
	<key>KBPreserveFormattingPreservesFontSize</key>
	<true/>
	<key>KBPreserveFormattingPreservesTabsAndIndents</key>
	<true/>
	<key>SCRCompileAnnotationsRTFConversionTypeKey</key>
	<integer>0</integer>
	<key>SCRCompileAvoidWidowsAndOrphansKey</key>
	<true/>
	<key>SCRCompileCenterFirstPageFooterStringKey</key>
	<string></string>
	<key>SCRCompileCenterFirstPageHeaderStringKey</key>
	<string></string>
	<key>SCRCompileCenterFooterStringKey</key>
	<string></string>
	<key>SCRCompileCenterHeaderStringKey</key>
	<string></string>
	<key>SCRCompileConvertEllipsesToTriplePeriodsKey</key>
	<false/>
	<key>SCRCompileConvertEmDashesToHyphensKey</key>
	<false/>
	<key>SCRCompileConvertItalicsToUnderlineKey</key>
	<false/>
	<key>SCRCompileConvertLinkedRTFDImagesToEmbeddedImagesKey</key>
	<false/>
	<key>SCRCompileConvertMMDAnnotationsToHTMLStyledTextKey</key>
	<true/>
	<key>SCRCompileConvertSpacingToPlainTextKey</key>
	<false/>
	<key>SCRCompileConvertUnderlineToItalicsKey</key>
	<false/>
	<key>SCRCompileCountFirstPageKey</key>
	<true/>
	<key>SCRCompileDifferentFirstPageHeaderAndFooterKey</key>
	<false/>
	<key>SCRCompileDisableAutoNumberingKey</key>
	<false/>
	<key>SCRCompileDocumentAuthorKey</key>
	<string></string>
	<key>SCRCompileDocumentBackgroundColorKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWEAWMDhAJm
	ZgEBhg==
	</data>
	<key>SCRCompileDocumentCommentsKey</key>
	<string></string>
	<key>SCRCompileDocumentCompanyKey</key>
	<string></string>
	<key>SCRCompileDocumentCopyrightKey</key>
	<string></string>
	<key>SCRCompileDocumentKeywordsKey</key>
	<array/>
	<key>SCRCompileDocumentSubjectKey</key>
	<string></string>
	<key>SCRCompileDocumentTitleKey</key>
	<string></string>
	<key>SCRCompileEBookAuthorsKey</key>
	<array/>
	<key>SCRCompileEBookCenterHTMLToCKey</key>
	<false/>
	<key>SCRCompileEBookContainsScriptFormattingKey</key>
	<false/>
	<key>SCRCompileEBookContributorsKey</key>
	<array/>
	<key>SCRCompileEBookCoverBinderDocumentIDKey</key>
	<integer>-1</integer>
	<key>SCRCompileEBookCoverSVGCodeKey</key>
	<string></string>
	<key>SCRCompileEBookCoverSVGViewBoxHeightKey</key>
	<integer>800</integer>
	<key>SCRCompileEBookCoverSVGViewBoxWidthKey</key>
	<integer>600</integer>
	<key>SCRCompileEBookCoverTitleKey</key>
	<string>Cover</string>
	<key>SCRCompileEBookDateKey</key>
	<string></string>
	<key>SCRCompileEBookDescriptionKey</key>
	<string></string>
	<key>SCRCompileEBookDisallowCopyKey</key>
	<false/>
	<key>SCRCompileEBookEndnotesAreContinuousKey</key>
	<true/>
	<key>SCRCompileEBookEndnotesTitleKey</key>
	<string>Notes</string>
	<key>SCRCompileEBookGenerateHTMLToCKey</key>
	<true/>
	<key>SCRCompileEBookHTMLToCTitleKey</key>
	<string>Contents</string>
	<key>SCRCompileEBookIncludeiTunesCoverArtFileKey</key>
	<true/>
	<key>SCRCompileEBookLanguageKey</key>
	<string>en</string>
	<key>SCRCompileEBookPublisherKey</key>
	<string></string>
	<key>SCRCompileEBookRightsKey</key>
	<string></string>
	<key>SCRCompileEBookSaveKindleGenLogKey</key>
	<false/>
	<key>SCRCompileEBookScriptCSSKey</key>
	<string>p.sceneHeading {text-align:left; text-indent:0; margin: 12pt 0 0 0; text-transform:uppercase; font-family: Courier;}
p.action {text-align:left; text-indent:0; margin: 12pt 0 0 0; font-family: Courier;}
p.character {text-align:center; text-indent:0; margin: 12pt 0 0 0; text-transform:uppercase; font-family: Courier;}
p.parenthetical {text-align:center; text-indent:0; margin: 0 0 0 0; font-family: Courier;}
p.dialogue {text-align:left; text-indent:0; margin: 0 20% 0 20%; font-family: Courier;}
p.transition {text-align:right; text-indent:0; margin: 12pt 0 0 0; text-transform:uppercase; font-family: Courier;}
p.shot {text-align:left; text-indent:0; margin: 12pt 0pt 0pt 0pt; text-transform:uppercase; font-family: Courier;}</string>
	<key>SCRCompileEBookSubjectKey</key>
	<array/>
	<key>SCRCompileEBookTitleKey</key>
	<string></string>
	<key>SCRCompileEBookUniqueIdentifierKey</key>
	<string></string>
	<key>SCRCompileEBookUseCustomIdentifierKey</key>
	<false/>
	<key>SCRCompileEBookUseFlatTOCKey</key>
	<false/>
	<key>SCRCompileEndOfTextMarkerKey</key>
	<string>Ends</string>
	<key>SCRCompileEndnotesStyleKey</key>
	<integer>3</integer>
	<key>SCRCompileExportInlineFootnotesAsEndnotesKey</key>
	<false/>
	<key>SCRCompileExportLinkedFootnotesAsEndnotesKey</key>
	<false/>
	<key>SCRCompileFDXBreakDialogueAndActionAtSentencesKey</key>
	<true/>
	<key>SCRCompileFDXFirstPageIsTitleKey</key>
	<false/>
	<key>SCRCompileFDXIncludeCommentsAndAnnotationsAsScriptNotesKey</key>
	<true/>
	<key>SCRCompileFDXIncludeFootnotesAsScriptNotesKey</key>
	<true/>
	<key>SCRCompileFDXIncludeRevisionColorsKey</key>
	<true/>
	<key>SCRCompileFDXScriptNoteFontKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaRiEBVsy
	NGNdBgAAABAAAAD//kMAbwB1AHIAaQBlAHIAhAFmDIQBYwCYAZgAmACG
	</data>
	<key>SCRCompileFDXSummaryFontKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaSSEBVsz
	NmNdBgAAABoAAAD//kwAdQBjAGkAZABhAEcAcgBhAG4AZABlAAAAhAFmDIQBYwCYAZgA
	mACG
	</data>
	<key>SCRCompileFDXUseDefaultScriptElementsKey</key>
	<false/>
	<key>SCRCompileFilterCollectionIDKey</key>
	<string>DB71E695-23D5-4121-8CF6-806C9E684DAE</string>
	<key>SCRCompileFilterContentsKey</key>
	<false/>
	<key>SCRCompileFilterExcludeKey</key>
	<false/>
	<key>SCRCompileFilterLabelKey</key>
	<integer>-1</integer>
	<key>SCRCompileFilterStatusKey</key>
	<integer>-1</integer>
	<key>SCRCompileFilterTypeKey</key>
	<integer>0</integer>
	<key>SCRCompileFirstPageForRegularHeaderAndFooterKey</key>
	<integer>2</integer>
	<key>SCRCompileFolderAndTextCustomSeparatorStringKey</key>
	<string></string>
	<key>SCRCompileFolderAndTextSectionSeparatorKey</key>
	<integer>2</integer>
	<key>SCRCompileFolderCustomSeparatorStringKey</key>
	<string></string>
	<key>SCRCompileFolderFormattingLevelsKey</key>
	<array>
		<dict>
			<key>SCRHasRTFBookmarksKey</key>
			<true/>
			<key>SCRIncludeMetaDataKey</key>
			<false/>
			<key>SCRIncludeNotesKey</key>
			<false/>
			<key>SCRIncludeSynopsesKey</key>
			<false/>
			<key>SCRIncludeTextKey</key>
			<true/>
			<key>SCRIncludeTitlesKey</key>
			<false/>
			<key>SCRMetaDataAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhISEDk5TTXV0
			YWJsZUFycmF5AISEB05TQXJyYXkAlJUFkoSEhAlOU1RleHRUYWIA
			lIQCQ2YAJIaShJ6eAGyGkoSengCBkACGkoSengCBtACGkoSengCB
			2ACGhoGUAIQEWzNmXSQkgwAAwD+GkoSWlwZOU0ZvbnSGkoSEhAZO
			U0ZvbnQelJUkhAVbMzZjXQYAAAAcAAAA//5PAHAAdABpAG0AYQAt
			AEkAdABhAGwAaQBjAIQBZg2EAWMAowGjAKMAhoY=
			</data>
			<key>SCRMultiMarkdownPlacesTitlePrefixInsideHashesKey</key>
			<true/>
			<key>SCRMultiMarkdownPlacesTitleSuffixInsideHashesKey</key>
			<true/>
			<key>SCRNotesAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVKIQFWzQw
			Y10GAAAAHgAAAP/+TwBwAHQAaQBtAGEALQBSAGUAZwB1AGwAYQBy
			AAAAhAFmDYQBYwCfAZ8AnwCGhg==
			</data>
			<key>SCRPagePaddingKey</key>
			<integer>0</integer>
			<key>SCRSubtitlesAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVJIQFWzM2
			Y10GAAAAHAAAAP/+TwBwAHQAaQBtAGEALQBJAHQAYQBsAGkAYwCE
			AWYNhAFjAJ8BnwCfAIaG
			</data>
			<key>SCRSynopsisAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhISEDk5TTXV0
			YWJsZUFycmF5AISEB05TQXJyYXkAlJUBkoSEhAlOU1RleHRUYWIA
			lIQCQ2YAJIaGgZQAhARbM2ZdJCSDAADAP4aShJaXBk5TRm9udIaS
			hISEBk5TRm9udB6UlSiEBVs0MGNdBgAAAB4AAAD//k8AcAB0AGkA
			bQBhAC0AUgBlAGcAdQBsAGEAcgAAAIQBZg2EAWMAowGjAKMAhoY=
			</data>
			<key>SCRTextAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVKIQFWzQw
			Y10GAAAAHgAAAP/+TwBwAHQAaQBtAGEALQBSAGUAZwB1AGwAYQBy
			AAAAhAFmDYQBYwCfAZ8AnwCGhg==
			</data>
			<key>SCRTitleAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVIIQFWzMy
			Y10GAAAAGAAAAP/+TwBwAHQAaQBtAGEALQBCAG8AbABkAIQBZhCE
			AWMAnwGfAJ8AhoY=
			</data>
			<key>SCRTitleCaseKey</key>
			<integer>0</integer>
			<key>SCRTitlePrefixAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVIIQFWzMy
			Y10GAAAAGAAAAP/+TwBwAHQAaQBtAGEALQBCAG8AbABkAIQBZhCE
			AWMAnwGfAJ8AhoY=
			</data>
			<key>SCRTitlePrefixCaseKey</key>
			<integer>0</integer>
			<key>SCRTitlePrefixKey</key>
			<string></string>
			<key>SCRTitleSuffixAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVIIQFWzMy
			Y10GAAAAGAAAAP/+TwBwAHQAaQBtAGEALQBCAG8AbABkAIQBZhCE
			AWMAnwGfAJ8AhoY=
			</data>
			<key>SCRTitleSuffixCaseKey</key>
			<integer>0</integer>
			<key>SCRTitleSuffixKey</key>
			<string></string>
		</dict>
	</array>
	<key>SCRCompileFolderSectionSeparatorKey</key>
	<integer>2</integer>
	<key>SCRCompileFootnotesFontKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaSiEBVs0
	MGNdBgAAAB4AAAD//k8AcAB0AGkAbQBhAC0AUgBlAGcAdQBsAGEAcgAAAIQBZgqEAWMA
	mAGYAJgAhg==
	</data>
	<key>SCRCompileFootnotesHaveSeparatorKey</key>
	<true/>
	<key>SCRCompileFootnotesRestartEachPageKey</key>
	<false/>
	<key>SCRCompileFootnotesStyleKey</key>
	<integer>0</integer>
	<key>SCRCompileFormatKey</key>
	<integer>31</integer>
	<key>SCRCompileGroupFootnotesBeforePageBreakTypeKey</key>
	<integer>1</integer>
	<key>SCRCompileGroupFootnotesBeforePageBreaksKey</key>
	<false/>
	<key>SCRCompileGroupIdentifierInfoKey</key>
	<dict>
		<key>Identifier</key>
		<string>0</string>
		<key>isCollection</key>
		<false/>
	</dict>
	<key>SCRCompileHTMLBodyTableWidthKey</key>
	<integer>600</integer>
	<key>SCRCompileHTMLConvertScrivenerLinksKey</key>
	<true/>
	<key>SCRCompileHTMLUnderlineInternalLinksKey</key>
	<false/>
	<key>SCRCompileHTMLUseCenteredBodyTableKey</key>
	<true/>
	<key>SCRCompileHeaderAndFooterFontKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaSiEBVs0
	MGNdBgAAAB4AAAD//k8AcAB0AGkAbQBhAC0AUgBlAGcAdQBsAGEAcgAAAIQBZg2EAWMA
	mAGYAJgAhg==
	</data>
	<key>SCRCompileIgnoresLevelsOutsideCurrentCompileGroupKey</key>
	<false/>
	<key>SCRCompileIncludeAnnotationsInStatisticsKey</key>
	<false/>
	<key>SCRCompileIncludeFootnotesInStatisticsKey</key>
	<true/>
	<key>SCRCompileIncludedTagKey</key>
	<integer>0</integer>
	<key>SCRCompileIncludesSubtitlesKey</key>
	<true/>
	<key>SCRCompileIndentFootnotesToMatchTextKey</key>
	<true/>
	<key>SCRCompileInlineLinksExcludeTitleSuffixKey</key>
	<false/>
	<key>SCRCompileInlinePrefixSeparatorKey</key>
	<string></string>
	<key>SCRCompileLeftFirstPageFooterStringKey</key>
	<string></string>
	<key>SCRCompileLeftFirstPageHeaderStringKey</key>
	<string></string>
	<key>SCRCompileLeftFooterStringKey</key>
	<string></string>
	<key>SCRCompileLeftHeaderStringKey</key>
	<string></string>
	<key>SCRCompileMarkEndOfTextKey</key>
	<false/>
	<key>SCRCompileMultiMarkdownMetaDataKey</key>
	<array/>
	<key>SCRCompileNoPagePaddingForFirstDocumentKey</key>
	<integer>0</integer>
	<key>SCRCompileNotesBeforeTextKey</key>
	<true/>
	<key>SCRCompileOverrideAffectsFontOnlyKey</key>
	<false/>
	<key>SCRCompileOverrideFlattenIndentsOnNewPagesOnly</key>
	<false/>
	<key>SCRCompileOverrideFlattensFirstParagraphIndent</key>
	<false/>
	<key>SCRCompileOverrideFootnotesFontKey</key>
	<false/>
	<key>SCRCompileOverridePreserveFormattingHasLimits</key>
	<false/>
	<key>SCRCompileOverridePreservesAlignmentKey</key>
	<false/>
	<key>SCRCompileOverridePreservesIndentsKey</key>
	<false/>
	<key>SCRCompileOverridePreservesLineSpacingKey</key>
	<false/>
	<key>SCRCompileOverrideTextAndNotesFormatKey</key>
	<false/>
	<key>SCRCompilePageBottomMarginKey</key>
	<real>1</real>
	<key>SCRCompilePageBottomMarginUnitsKey</key>
	<integer>1</integer>
	<key>SCRCompilePageLeftMarginKey</key>
	<real>1</real>
	<key>SCRCompilePageLeftMarginUnitsKey</key>
	<integer>1</integer>
	<key>SCRCompilePageRightMarginKey</key>
	<real>1</real>
	<key>SCRCompilePageRightMarginUnitsKey</key>
	<integer>1</integer>
	<key>SCRCompilePageTopMarginKey</key>
	<real>1</real>
	<key>SCRCompilePageTopMarginUnitsKey</key>
	<integer>1</integer>
	<key>SCRCompilePlainTextConversionTypeKey</key>
	<integer>1</integer>
	<key>SCRCompilePrintInfoKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAtOU1ByaW50SW5mbwGEhAhOU09iamVjdACFkoSE
	hBNOU011dGFibGVEaWN0aW9uYXJ5AISEDE5TRGljdGlvbmFyeQCUhAFpCJKEhIQITlNT
	dHJpbmcBlIQBKw5OU0JvdHRvbU1hcmdpboaShISECE5TTnVtYmVyAISEB05TVmFsdWUA
	lIQBKoSEAWadWoaShJmZDU5TUmlnaHRNYXJnaW6GkoSbnJ2dSIaShJmZFk5TSG9yaXpv
	bnRhbGx5Q2VudGVyZWSGkoSbnISEAWOeAYaShJmZFE5TVmVydGljYWxseUNlbnRlcmVk
	hpKhkoSZmQtOU1RvcE1hcmdpboaShJucnZ1ahpKEmZkMTlNMZWZ0TWFyZ2luhpKEm5yd
	nUiGkoSZmRROU1ZlcnRpY2FsUGFnaW5hdGlvboaShJuchJeXAIaShJmZFU5TSG9yaXpv
	bmFsUGFnaW5hdGlvboaShJucqpcChoaG
	</data>
	<key>SCRCompileRTFFlattenFootnotesAndCommentsKey</key>
	<false/>
	<key>SCRCompileRTFNoColumnsInFirstDocumentKey</key>
	<false/>
	<key>SCRCompileRTFNumberOfColumnsKey</key>
	<integer>2</integer>
	<key>SCRCompileRTFSpaceBetweenColumnsInTwipsKey</key>
	<integer>360</integer>
	<key>SCRCompileRTFStripTablesKey</key>
	<false/>
	<key>SCRCompileRTFUseColumnsKey</key>
	<false/>
	<key>SCRCompileRTFUsesCocoaStyleListIndents</key>
	<false/>
	<key>SCRCompileReduceRTFOrEbookFootnoteMarkerFontSizeKey</key>
	<false/>
	<key>SCRCompileRemoveCommentsKey</key>
	<false/>
	<key>SCRCompileRemoveFootnotesKey</key>
	<false/>
	<key>SCRCompileRemoveInlineAnnotationsKey</key>
	<true/>
	<key>SCRCompileRightFirstPageFooterStringKey</key>
	<string></string>
	<key>SCRCompileRightFirstPageHeaderStringKey</key>
	<string></string>
	<key>SCRCompileRightFooterStringKey</key>
	<string></string>
	<key>SCRCompileRightHeaderStringKey</key>
	<string></string>
	<key>SCRCompileStatisticsCharacterCountExcludesWhitespaceKey</key>
	<false/>
	<key>SCRCompileStatisticsCountAllTextKey</key>
	<true/>
	<key>SCRCompileStatisticsCountMainTextKey</key>
	<true/>
	<key>SCRCompileStatisticsCountNotesTextKey</key>
	<false/>
	<key>SCRCompileStatisticsCountSynopsesTextKey</key>
	<false/>
	<key>SCRCompileStatisticsFilterCollectionIDKey</key>
	<string>DB71E695-23D5-4121-8CF6-806C9E684DAE</string>
	<key>SCRCompileStatisticsFilterDocumentsKey</key>
	<false/>
	<key>SCRCompileStatisticsFilterExcludeKey</key>
	<false/>
	<key>SCRCompileStatisticsFilterLabelKey</key>
	<integer>-1</integer>
	<key>SCRCompileStatisticsFilterStatusKey</key>
	<integer>-1</integer>
	<key>SCRCompileStatisticsFilterTypeKey</key>
	<integer>0</integer>
	<key>SCRCompileStraightenTypographersQuotesKey</key>
	<false/>
	<key>SCRCompileTextAndFolderCustomSeparatorStringKey</key>
	<string></string>
	<key>SCRCompileTextAndFolderSectionSeparatorKey</key>
	<integer>3</integer>
	<key>SCRCompileTextContainerFormattingLevelsKey</key>
	<array>
		<dict>
			<key>SCRHasRTFBookmarksKey</key>
			<true/>
			<key>SCRIncludeMetaDataKey</key>
			<false/>
			<key>SCRIncludeNotesKey</key>
			<false/>
			<key>SCRIncludeSynopsesKey</key>
			<false/>
			<key>SCRIncludeTextKey</key>
			<true/>
			<key>SCRIncludeTitlesKey</key>
			<false/>
			<key>SCRMetaDataAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhISEDk5TTXV0
			YWJsZUFycmF5AISEB05TQXJyYXkAlJUFkoSEhAlOU1RleHRUYWIA
			lIQCQ2YAJIaShJ6eAGyGkoSengCBkACGkoSengCBtACGkoSengCB
			2ACGhoGUAIQEWzNmXSQkgwAAwD+GkoSWlwZOU0ZvbnSGkoSEhAZO
			U0ZvbnQelJUkhAVbMzZjXQYAAAAcAAAA//5PAHAAdABpAG0AYQAt
			AEkAdABhAGwAaQBjAIQBZg2EAWMAowGjAKMAhoY=
			</data>
			<key>SCRMultiMarkdownPlacesTitlePrefixInsideHashesKey</key>
			<true/>
			<key>SCRMultiMarkdownPlacesTitleSuffixInsideHashesKey</key>
			<true/>
			<key>SCRNotesAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVKIQFWzQw
			Y10GAAAAHgAAAP/+TwBwAHQAaQBtAGEALQBSAGUAZwB1AGwAYQBy
			AAAAhAFmDYQBYwCfAZ8AnwCGhg==
			</data>
			<key>SCRPagePaddingKey</key>
			<integer>0</integer>
			<key>SCRSubtitlesAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVJIQFWzM2
			Y10GAAAAHAAAAP/+TwBwAHQAaQBtAGEALQBJAHQAYQBsAGkAYwCE
			AWYNhAFjAJ8BnwCfAIaG
			</data>
			<key>SCRSynopsisAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhISEDk5TTXV0
			YWJsZUFycmF5AISEB05TQXJyYXkAlJUBkoSEhAlOU1RleHRUYWIA
			lIQCQ2YAJIaGgZQAhARbM2ZdJCSDAADAP4aShJaXBk5TRm9udIaS
			hISEBk5TRm9udB6UlSiEBVs0MGNdBgAAAB4AAAD//k8AcAB0AGkA
			bQBhAC0AUgBlAGcAdQBsAGEAcgAAAIQBZg2EAWMAowGjAKMAhoY=
			</data>
			<key>SCRTextAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVKIQFWzQw
			Y10GAAAAHgAAAP/+TwBwAHQAaQBtAGEALQBSAGUAZwB1AGwAYQBy
			AAAAhAFmDYQBYwCfAZ8AnwCGhg==
			</data>
			<key>SCRTitleAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVIIQFWzMy
			Y10GAAAAGAAAAP/+TwBwAHQAaQBtAGEALQBCAG8AbABkAIQBZg2E
			AWMAnwGfAJ8AhoY=
			</data>
			<key>SCRTitleCaseKey</key>
			<integer>0</integer>
			<key>SCRTitlePrefixAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVIIQFWzMy
			Y10GAAAAGAAAAP/+TwBwAHQAaQBtAGEALQBCAG8AbABkAIQBZg2E
			AWMAnwGfAJ8AhoY=
			</data>
			<key>SCRTitlePrefixCaseKey</key>
			<integer>0</integer>
			<key>SCRTitlePrefixKey</key>
			<string></string>
			<key>SCRTitleSuffixAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVIIQFWzMy
			Y10GAAAAGAAAAP/+TwBwAHQAaQBtAGEALQBCAG8AbABkAIQBZg2E
			AWMAnwGfAJ8AhoY=
			</data>
			<key>SCRTitleSuffixCaseKey</key>
			<integer>0</integer>
			<key>SCRTitleSuffixKey</key>
			<string></string>
		</dict>
	</array>
	<key>SCRCompileTextCustomSeparatorStringKey</key>
	<string>#</string>
	<key>SCRCompileTextFormattingLevelsKey</key>
	<array>
		<dict>
			<key>SCRHasRTFBookmarksKey</key>
			<true/>
			<key>SCRIncludeMetaDataKey</key>
			<false/>
			<key>SCRIncludeNotesKey</key>
			<false/>
			<key>SCRIncludeSynopsesKey</key>
			<false/>
			<key>SCRIncludeTextKey</key>
			<true/>
			<key>SCRIncludeTitlesKey</key>
			<false/>
			<key>SCRMetaDataAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhISEDk5TTXV0
			YWJsZUFycmF5AISEB05TQXJyYXkAlJUFkoSEhAlOU1RleHRUYWIA
			lIQCQ2YAJIaShJ6eAGyGkoSengCBkACGkoSengCBtACGkoSengCB
			2ACGhoGUAIQEWzNmXSQkgwAAwD+GkoSWlwZOU0ZvbnSGkoSEhAZO
			U0ZvbnQelJUkhAVbMzZjXQYAAAAcAAAA//5PAHAAdABpAG0AYQAt
			AEkAdABhAGwAaQBjAIQBZg2EAWMAowGjAKMAhoY=
			</data>
			<key>SCRMultiMarkdownPlacesTitlePrefixInsideHashesKey</key>
			<true/>
			<key>SCRMultiMarkdownPlacesTitleSuffixInsideHashesKey</key>
			<true/>
			<key>SCRNotesAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVKIQFWzQw
			Y10GAAAAHgAAAP/+TwBwAHQAaQBtAGEALQBSAGUAZwB1AGwAYQBy
			AAAAhAFmDYQBYwCfAZ8AnwCGhg==
			</data>
			<key>SCRPagePaddingKey</key>
			<integer>0</integer>
			<key>SCRSubtitlesAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVJIQFWzM2
			Y10GAAAAHAAAAP/+TwBwAHQAaQBtAGEALQBJAHQAYQBsAGkAYwCE
			AWYNhAFjAJ8BnwCfAIaG
			</data>
			<key>SCRSynopsisAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhISEDk5TTXV0
			YWJsZUFycmF5AISEB05TQXJyYXkAlJUBkoSEhAlOU1RleHRUYWIA
			lIQCQ2YAJIaGgZQAhARbM2ZdJCSDAADAP4aShJaXBk5TRm9udIaS
			hISEBk5TRm9udB6UlSiEBVs0MGNdBgAAAB4AAAD//k8AcAB0AGkA
			bQBhAC0AUgBlAGcAdQBsAGEAcgAAAIQBZg2EAWMAowGjAKMAhoY=
			</data>
			<key>SCRTextAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVKIQFWzQw
			Y10GAAAAHgAAAP/+TwBwAHQAaQBtAGEALQBSAGUAZwB1AGwAYQBy
			AAAAhAFmDYQBYwCfAZ8AnwCGhg==
			</data>
			<key>SCRTitleAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVIIQFWzMy
			Y10GAAAAGAAAAP/+TwBwAHQAaQBtAGEALQBCAG8AbABkAIQBZg2E
			AWMAnwGfAJ8AhoY=
			</data>
			<key>SCRTitleCaseKey</key>
			<integer>0</integer>
			<key>SCRTitlePrefixAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVIIQFWzMy
			Y10GAAAAGAAAAP/+TwBwAHQAaQBtAGEALQBCAG8AbABkAIQBZg2E
			AWMAnwGfAJ8AhoY=
			</data>
			<key>SCRTitlePrefixCaseKey</key>
			<integer>0</integer>
			<key>SCRTitlePrefixKey</key>
			<string></string>
			<key>SCRTitleSuffixAttributesKey</key>
			<data>
			BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQI
			TlNPYmplY3QAhYQBaQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJh
			Z3JhcGhTdHlsZYaShISEF05TTXV0YWJsZVBhcmFncmFwaFN0eWxl
			AISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGAAIQEWzFm
			XYMAAMA/hpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVIIQFWzMy
			Y10GAAAAGAAAAP/+TwBwAHQAaQBtAGEALQBCAG8AbABkAIQBZg2E
			AWMAnwGfAJ8AhoY=
			</data>
			<key>SCRTitleSuffixCaseKey</key>
			<integer>0</integer>
			<key>SCRTitleSuffixKey</key>
			<string></string>
		</dict>
	</array>
	<key>SCRCompileTextSectionSeparatorKey</key>
	<integer>2</integer>
	<key>SCRCompileUpdateScrivenerLinksWithPrefixAndSuffixKey</key>
	<true/>
	<key>SCRCompileUseHyphenationKey</key>
	<false/>
	<key>SCRCompileUseProjectPageSetupKey</key>
	<true/>
	<key>SCRCompileVariableReplacementsKey</key>
	<array/>
	<key>SCRExportAnnotationsAsRTFCommentsKey</key>
	<false/>
	<key>SCRExportConvertEllipsesToTriplePeriodsKey</key>
	<false/>
	<key>SCRExportConvertEmDashesToDoubleHyphensKey</key>
	<true/>
	<key>SCRExportConvertItalicsToUnderlineKey</key>
	<true/>
	<key>SCRExportCountFirstPageKey</key>
	<false/>
	<key>SCRExportDisableAutoNumberingKey</key>
	<false/>
	<key>SCRExportDoNotIndentTitlesKey</key>
	<false/>
	<key>SCRExportDocumentsToExportTagKey</key>
	<integer>0</integer>
	<key>SCRExportEndOfTextMarkerKey</key>
	<string>&lt;&lt;&lt;&lt;&gt;&gt;&gt;&gt;</string>
	<key>SCRExportFootnotesTypeKey</key>
	<integer>0</integer>
	<key>SCRExportFormatTypeKey</key>
	<integer>20</integer>
	<key>SCRExportGroupIDKey</key>
	<integer>0</integer>
	<key>SCRExportGroupTitleFontKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaRiEBVsy
	NGNdBgAAABAAAAD//kMAbwB1AHIAaQBlAHIAhAFmDIQBYwCYAZgAmACG
	</data>
	<key>SCRExportGroupTitleIsCenteredKey</key>
	<true/>
	<key>SCRExportHeaderFooterAlignmentKey</key>
	<integer>1</integer>
	<key>SCRExportHeaderFooterTypeKey</key>
	<integer>0</integer>
	<key>SCRExportIncludeFootnotesKey</key>
	<true/>
	<key>SCRExportMarkEndOfTextKey</key>
	<false/>
	<key>SCRExportNoHeaderFooterOnFirstPageKey</key>
	<true/>
	<key>SCRExportRemoveAnnotationsKey</key>
	<false/>
	<key>SCRExportSceneBreakStringKey</key>
	<string>#</string>
	<key>SCRExportSectionSeparatorKey</key>
	<integer>0</integer>
	<key>SCRExportStraightenTypographersQuotesKey</key>
	<false/>
	<key>SCRExportTextAttributesAppliesToFontOnlyKey</key>
	<false/>
	<key>SCRExportTextAttributesKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAxOU0RpY3Rpb25hcnkAhIQITlNPYmplY3QAhYQB
	aQKShISECE5TU3RyaW5nAZSEASsQTlNQYXJhZ3JhcGhTdHlsZYaShISEF05TTXV0YWJs
	ZVBhcmFncmFwaFN0eWxlAISEEE5TUGFyYWdyYXBoU3R5bGUAlIQEQ0NAUwQAhYGQAIQE
	WzJmXRwChpKElpcGTlNGb250hpKEhIQGTlNGb250HpSVGIQFWzI0Y10GAAAAEAAAAP/+
	QwBvAHUAcgBpAGUAcgCEAWYMhAFjAJ8BnwCfAIaG
	</data>
	<key>SCRExportTextContainerTitleFontKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaRiEBVsy
	NGNdBgAAABAAAAD//kMAbwB1AHIAaQBlAHIAhAFmDIQBYwCYAZgAmACG
	</data>
	<key>SCRExportTextContainerTitleIsCenteredKey</key>
	<true/>
	<key>SCRExportTextTitleFontKey</key>
	<data>
	BAtzdHJlYW10eXBlZIHoA4QBQISEhAZOU0ZvbnQehIQITlNPYmplY3QAhYQBaRiEBVsy
	NGNdBgAAABAAAAD//kMAbwB1AHIAaQBlAHIAhAFmDIQBYwCYAZgAmACG
	</data>
	<key>SCRExportTextTitleIsCenteredKey</key>
	<true/>
	<key>SCRExportUseExportTextAttributesKey</key>
	<true/>
	<key>SCRIncludeGroupDocumentTextKey</key>
	<true/>
	<key>SCRIncludeGroupMetaDataKey</key>
	<false/>
	<key>SCRIncludeGroupNotesKey</key>
	<false/>
	<key>SCRIncludeGroupSynopsesKey</key>
	<false/>
	<key>SCRIncludeGroupTitlesKey</key>
	<true/>
	<key>SCRIncludeTextDocumentTextKey</key>
	<true/>
	<key>SCRIncludeTextGroupDocumentTextKey</key>
	<true/>
	<key>SCRIncludeTextGroupMetaDataKey</key>
	<false/>
	<key>SCRIncludeTextGroupNotesKey</key>
	<false/>
	<key>SCRIncludeTextGroupSynopsesKey</key>
	<false/>
	<key>SCRIncludeTextGroupTitlesKey</key>
	<true/>
	<key>SCRIncludeTextMetaDataKey</key>
	<false/>
	<key>SCRIncludeTextNotesKey</key>
	<false/>
	<key>SCRIncludeTextSynopsesKey</key>
	<false/>
	<key>SCRIncludeTextTitlesKey</key>
	<true/>
	<key>SCRSavedExportSettings</key>
	<dict/>
</dict>
</plist>
