<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.lockedInPlace</key>
	<false/>
	<key>SCRSelectedCompileOptionsInfoSaveName</key>
	<dict>
		<key>Tag</key>
		<integer>0</integer>
		<key>Title</key>
		<string>Custom</string>
	</dict>
	<key>binderSelection</key>
	<array>
		<integer>0</integer>
	</array>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {130, 550}}</string>
		<string>{{131, 0}, {615, 550}}</string>
	</array>
	<key>binderState</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
		<integer>21</integer>
	</array>
	<key>closedSuccessfully</key>
	<true/>
	<key>collectionsHeight</key>
	<real>101</real>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>collectionsTabListIsCollapsed</key>
	<true/>
	<key>editorSplitType</key>
	<integer>0</integer>
	<key>inspectorIsCollapsed</key>
	<true/>
	<key>inspectorWidth</key>
	<real>200</real>
	<key>mainDocumentEditor.binderDocuments</key>
	<array>
		<integer>0</integer>
	</array>
	<key>mainDocumentEditor.corkboardVisible</key>
	<false/>
	<key>mainDocumentEditor.currentEditorViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.editorGroupsViewMode</key>
	<integer>2</integer>
	<key>mainDocumentEditor.lockedInPlace</key>
	<false/>
	<key>mainDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>43</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocID</key>
				<integer>3</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>0</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>3</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>4</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>5</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>19</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>5</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>4</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>5</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>8</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>9</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>10</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>11</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>12</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>13</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>14</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>15</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>20</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>15</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>16</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>17</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>18</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>19</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>1</integer>
				<key>Mode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>20</integer>
				<key>Mode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>1</integer>
				<key>Mode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>20</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>1</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>19</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>18</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>17</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>16</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>15</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>20</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>1</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>0</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>5</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>7</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>5</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocID</key>
				<integer>6</integer>
				<key>Mode</key>
				<integer>0</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>10</integer>
		<key>NavigationHistoryArray</key>
		<array>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>1</integer>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>22</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>22</integer>
					<integer>23</integer>
					<integer>24</integer>
					<integer>25</integer>
					<integer>26</integer>
					<integer>36</integer>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>1</integer>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>2</integer>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>22</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>23</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>24</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>22</integer>
				</array>
				<key>ViewMode</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>BinderDocIDs</key>
				<array>
					<integer>0</integer>
				</array>
				<key>ViewMode</key>
				<integer>2</integer>
			</dict>
		</array>
	</dict>
	<key>mainDocumentEditor.outlinerVisible</key>
	<false/>
	<key>mainDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>textScale</key>
		<integer>100</integer>
		<key>usesFacingPages</key>
		<false/>
	</dict>
	<key>mainDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>mainWindowFrame</key>
	<string>216 239 746 572 0 0 1440 878 </string>
	<key>supportingDocumentEditor.navHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>supportingDocumentEditor.navigationHistory</key>
	<dict>
		<key>CurrentIndex</key>
		<integer>-1</integer>
		<key>NavigationHistoryArray</key>
		<array/>
	</dict>
	<key>supportingDocumentEditor.selectedItemIDs</key>
	<array/>
	<key>supportingDocumentEditor.textMode</key>
	<integer>0</integer>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
